.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff;
  padding: 13px 20px;
}

.logo {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  display: flex;
}

.logo:hover {
  opacity: 0.8;
}

.white-text {
  color: #fff;
}

.black-text {
  color: #000;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.nav-link:hover {
  opacity: 0.8;
}
